// 修改element样式
:root {
  --el-color-primary: #526AEC;
  --el-color-primary-light-3: #526AEC70;
  --el-color-primary-light-5: #526AEC50;
  --el-color-primary-light-7: #526AEC30;
  --el-color-primary-light-8: #526AEC20;
  --el-color-primary-light-9: #526AEC10;
  --el-color-primary-dark-2: #526AEC;
}

#body {
  .el-dialog.my-dialog {    
    margin: 8vh auto;
    height: 84vh;
    border-radius: 8px;
    box-shadow: 0 16px 32px rgb(0 0 0 / 20%);
    overflow: hidden;
    .el-dialog__body {
      box-sizing: border-box;
      height: calc(100% - 54px);
      padding: 20px;
    }
    
  }
  .el-table--striped {
    .el-table__body tr.el-table__row--striped td.el-table__cell {
      background: var(--el-color-primary-light-9);
    }
  }
}